
@{
    ViewData["Title"] = "AddTask";
}

<h1>Add a Task</h1>
<form action="/TaskList/AddTask" method="post">

    Description <input type="text" name="Description" value="" />
    Due Date <input type="date" name="DueDate" value="" />
    Complete <input type="radio" name="Complete" value="" />
   Not Complete <input type="radio" name="Not Complete" value="" />

    <input type="submit" value="Submit" />



</form>
