
@{
    ViewData["Title"] = "TaskList";
}
@model IEnumerable<TaskListCapstone.Models.TaskList>
<h1>Task List</h1>

<table class="table">
    <tr>
        <th>Description</th>
        <th>Task</th>
        <th>Complete</th>

    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.Description</td>
    <td>@item.DueDate.Year</td>
    <td>@item.Complete</td>

    <td><a href="/TaskList/Update?Id=@item.UserId"><input type="submit" value="Update" class="btn-dark" /></a></td>
    <td><a href="/TaskList/Delete?Id=@item.UserId"><input type="submit" value="Delete" class="btn-dark" /></a></td>



</tr>
    }




</table>





